.header-title {
  font-weight: 800;
  font-size: 15px;
}
.header-dark-mode-icon {
  cursor: pointer;
  display: flex;
  margin-right: 5px;
  align-items: center;
}
.dark-mode-icon {
  width: 13px;
  height: 13px;
  margin-right: 9px;
  content: url(images/dark-mode-icon.svg);
}

.header-dark-mode-icon span {
  font-size: 12px;
  font-weight: 600;
}
