:root {
  --white-color: white;
  --white-color-dark: #00000015;
  --black-color: black;
  --background-color: white;
}

:root.dark-mode {
  --white-color: #2b3743;
  --white-color-dark: #00000015;
  --black-color: white;
  --background-color: #212e37;
}
a {
  color: var(--black-color);
  text-decoration: none;
}

header {
  box-shadow: 0 4px 8px 4px var(--white-color-dark);
}

header {
  font-family: "Nunito Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 40px 35px;
  max-height: 62px;
  user-select: none;
}

.header-title {
  font-weight: 800;
  font-size: 15px;
}
.header-dark-mode-icon {
  cursor: pointer;
  display: flex;
  margin-right: 5px;
  align-items: center;
}
.dark-mode-icon {
  width: 13px;
  height: 13px;
  margin-right: 9px;
  content: url(images/dark-mode-icon.svg);
}

.header-dark-mode-icon span {
  font-size: 12px;
  font-weight: 600;
}
