.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 80px;
}
.country {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  color: var(--black-color);
  padding-bottom: 30px;
  width: 100%;
  margin-top: 50px;
  border-radius: 5px;
  font-size: 12px;
}

.country-name {
  font-size: 16px;
  font-weight: 800;
  padding: 20px;
  margin-bottom: 5px;
}

.country-population,
.country-region,
.country-capital {
  padding: 0px 20px;
  font-weight: 800;
  font-size: 12px;
  margin-bottom: 5px;
}

.country span {
  margin-left: 2px;
  font-weight: 400;
}

.country-flag {
  border-radius: 5px 5px 0px 0px;
  object-fit: cover;
  width: 100%;
  min-height: 180px;
  user-select: none;
}
.country-content {
  padding: 50px 30px;
}

.back {
  align-self: flex-start;
  width: 100%;
  max-width: 100px;
  padding: 10px;
  border: none;
  color: var(--black-color);
  background: var(--white-color);
  margin-bottom: 50px;
}
.arrow {
  margin-right: 5px;
  content: url(../images/arrow-right.svg);
}
:root.dark-mode .arrow {
  margin-right: 5px;
  content: url(../images/arrow-right-dark.svg);
}
.country-text {
  margin-top: 20px;
}
.country-page {
  display: flex;
  padding: 35px 0px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--black-color);
  background-color: var(--background-color);
}

.country-page-flag {
  display: flex;
}
.country-page-flag img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 620px;
  min-width: 120px;
  min-height: 120px;
  max-height: 375px;
}

.country-info,
.country-page-name {
  margin: 20px 0px;
}
.country-page-name {
  font-weight: 700;
  font-size: 20px;
}
.country-page-borders {
  display: grid;
  text-align: center;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}
.country-page-shortcuts h2 {
  font-weight: 700;
}
.country-borders {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--white-color);
  font-size: 12px;
  height: 100%;
  max-height: 32px;
  padding: 8px;
}
@media screen and (min-width: 660px) {
  header::before {
    box-shadow: 0px 0px 6px 6px var(--white-color-dark);
    height: 8.3%;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background-color);
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--background-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
    border: 2px solid var(--white-color-dark);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--white-color-dark);
  }

  .navigation-content {
    display: flex;
    justify-content: space-between;
  }
  .search-bar {
    width: 100%;
    margin-right: 20px;
    max-width: 300px;
  }
  .select-box {
    width: 100%;
  }
  .countries {
    margin-top: 80px;
    max-width: unset;
    max-height: unset;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 280px);
    gap: 40px;
  }
  .countries.active {
    grid-template-columns: repeat(auto-fit, 280px);
    justify-content: unset;
  }
  .country {
    display: inline;
    width: 100%;
    height: 100%;
    max-width: 270px;
    flex-direction: row;
    margin-top: 0;
  }
  .country-flag {
    object-fit: cover;
    max-width: unset;
    max-height: 120px;
  }
  .search-bar-input ~ .search-bar-label {
    top: 16.5px;
  }
  .search-bar-input:focus ~ .search-bar-label,
  .search-bar-label.active {
    font-size: 12px;
    top: 0;
    transform: translateY(55%);
  }
  .country-content {
    padding: 50px 30px;
    background-color: transparent;
  }
  .country-page {
    padding: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .country-list-info {
    display: grid;
    align-items: center;
    column-gap: 140px;
    grid-template-columns: 0.7fr 0.7fr;
    grid-template-rows: repeat(5, min-content);
  }

  .country-text {
    margin: 0;
    margin-left: 50px;
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    height: min-content;
    max-height: 440px;
    min-height: 200px;
  }
  .country-page-flag {
    display: flex;
    margin: 0;
    min-height: 120px;
    min-width: 120px;
    max-width: 600px;
    max-height: 375px;
  }
  .country-page-flag img {
    object-fit: fill;
    flex: 1;
    width: auto;
    height: auto;
  }

  .country-info {
    width: 100%;
    grid-column: 1;
  }

  .country-info:nth-child(3) {
    justify-self: center;
  }

  .country-info:nth-child(6) {
    grid-row: 1;
    grid-column: -1/2;
  }
  .country-info:nth-child(7) {
    grid-row: 2;
    grid-column: -1/2;
  }
  .country-info:nth-child(8) {
    grid-row: 3;
    grid-column: -1/2;
  }

  .country-page-shortcuts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
  }
  .country-page-borders {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  h2 {
    display: inline-flex;
    margin-top: 20px;
    width: 100%;
    max-width: 140px;
  }
  .country-borders {
    flex-direction: row;
  }
  .country-borders:hover {
    background-color: var(--white-color-dark);
  }
}
